<div class="container-fluid p-0 m-0">

    <div class="mb-4">
        <span (click)="back()"> <i class="bi bi-chevron-double-left"></i> Back </span>
    </div>

    <h2 class="h2">Validator Details</h2>

    <div class="item mt-3 p-3">

        <table class="table table-borderless">

            <tbody>

                <tr>
                    <td><span>Address :</span></td>
                    <td><span class="value" style="color: #bfd7ed;">{{validator.operator_address | slice :0:16}}...<i
                                class="bi bi-clipboard" (click)="copyText(validator.operator_address)" title="copy"></i></span></td>
                </tr>

                <tr>
                    <td><span>Tokens :</span></td>
                    <td><span class="value" style="color: #fff;">{{validator.tokens}}</span></td>
                </tr>

                <tr>
                    <td><span>Update Time :</span></td>
                    <td><span class="value" style="color: #fff;">{{updateTime | date: 'medium'}}</span></td>
                </tr>

                <tr>
                    <td><span>Name :</span></td>
                    <td><span class="value" style="color: #fff;">{{validator.moniker}}</span></td>
                </tr>

                <tr>
                    <td><span>Details :</span></td>
                    <td><span class="value" style="color: #bfd7ed;">{{validator.details | slice :0:16}}...<i
                        class="bi bi-clipboard" (click)="copyText(validator.details)" title="copy"></i></span></td>
                </tr>

                <tr>
                    <td><span>Identity :</span></td>
                    <td><span class="value" style="color: #bfd7ed;">{{validator.identity}}<i
                        class="bi bi-clipboard" (click)="copyText(validator.identity)" title="copy"></i></span></td>
                </tr>

                <tr>
                    <td><span>Website :</span></td>
                    <td><span class="value" style="color: #fff;">{{validator.website}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

