<div class="container-fluid p-0 m-0">
   <h2 class="h2">Dashboard</h2>

   <div class="block d-flex m-0 p-0 justify-content-between ">
      <div class="left-part w-60">
        <div class="lists d-flex item mt-3 justify-content-between ">
          <div class="list d-flex w-30">
            <div class="icon-box w-30 d-grid align-content-center justify-content-center ">
                <i class="bi bi-wallet2" ></i>
            </div>

            <div class="d-grid w-70 align-content-center pl-3">
                <h6 class="h6 m-0 ">{{blockHeight}}</h6>
                <span>Blochchain Height</span>
            </div>
          </div>

          <div class="list d-flex w-30">
            <div class="icon-box w-30 d-grid align-content-center justify-content-center ">
              <i class="bi bi-arrow-down-up"></i>
            </div>

            <div class="d-grid w-70 align-content-center pl-3">
              <h6 class="h6 m-0 ">{{ dataDashboard.total_storage | million}}TB</h6>
              <span>Network Storage</span>
            </div>

          </div>

          <div class="list d-flex w-30">
            <div class="icon-box w-30 d-grid align-content-center justify-content-center ">
              <i class="bi bi-box-fill"></i>
            </div>

            <div class="d-grid w-70 align-content-center pl-3 ">
              <h6 class="h6 m-0">
                <!--{{dataDashboard.total_transaction}}-->
                28.3 M</h6>
              <span>All Transactions</span>
            </div>

          </div>

        </div>

        <div class="lists d-flex item mt-4 justify-content-between">
          <div class="list d-flex w-30">
            <div class="icon-box d-grid w-30 align-content-center justify-content-center ">
              <i class="bi bi-currency-dollar"></i>
            </div>

            <div class="d-grid w-70 align-content-center pl-3">
              <h6 class="h6 m-0">{{dataDashboard.total_hosts}}</h6>
              <span>Network hosts</span>
            </div>
          </div>

          <div class="list d-flex w-30 ">
            <div class="icon-box d-grid w-30 align-content-center justify-content-center ">
              <i class="bi bi-shop"></i>
            </div>

            <div class="d-grid w-70 align-content-center pl-3  ">
              <h6 class="h6 m-0 ">${{dataDashboard.price | number | slice :0:5 }}</h6>
              <span>Sia Price</span>
           </div>
          </div>

          <div class="list d-flex w-30">
            <div class="icon-box d-grid w-30 align-content-center justify-content-center ">
              <i class="bi bi-bar-chart-line-fill"></i>
            </div>

            <div class="d-grid w-70 align-content-center pl-3 ">
              <h6 class="h6 m-0">${{dataDashboard.market_cap | number:'1.0-0'}}</h6>
              <span>Sia Market Cap</span>
            </div>

            <!--div class="d-grid w-70 align-content-center pl-3 ">
                <h6 class="h6 m-0">${{dataDashboard.volume_24h | number}}</h6>
                <span>24hr Volume</span>
            </div-->
          </div>
        </div>

        <div class="mt-3 item shadow-none">

          <div>
            <h3 class="h3">25 - Day Sia Price History</h3>
          </div>

          <div>
            <apx-chart id="statistics1" [series]="chartOptions.series" [chart]="chartOptions.chart"
                [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis"
                [fill]="chartOptions.fill" [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip"
                [xaxis]="chartOptions.xaxis" [grid]="chartOptions.grid">
            </apx-chart>
          </div>

        </div>
      </div>

      <div class="right-part w-35 mt-3 ">
        <div class="justify-content-center">

          <div class="d-flex right-item mt-3">
            <div class="icon-box d-grid w-20 align-content-center justify-content-center ">
              <i class="bi bi-box-fill"></i>
            </div>

            <div class="d-grid w-70 align-content-center pl-3 justify-content-starter ">
                <h6 class="h6 m-0">{{blockHeight}}</h6>
                <span>All blocks</span>
            </div>
          </div>

          <div class="right-item mt-4">
            <div>
              <h6 class="h6">Market Index</h6>
            </div>

            <div>
              <apx-chart id="statistics1" [series]="chartOptions1.series" [chart]="chartOptions1.chart"
                  [dataLabels]="chartOptions1.dataLabels" [plotOptions]="chartOptions1.plotOptions" [yaxis]="chartOptions1.yaxis"
                  [fill]="chartOptions1.fill" [stroke]="chartOptions1.stroke" [tooltip]="chartOptions1.tooltip"
                  [xaxis]="chartOptions1.xaxis" [grid]="chartOptions1.grid">
              </apx-chart>
            </div>
          </div>

          <div class="right-item mt-4">
            <div>
              <h6 class="h6">Trading Volume</h6>
            </div>

            <div>
              <apx-chart id="statistics1" [series]="chartOptions2.series" [chart]="chartOptions2.chart"
                  [dataLabels]="chartOptions2.dataLabels" [plotOptions]="chartOptions2.plotOptions" [yaxis]="chartOptions2.yaxis"
                  [fill]="chartOptions2.fill" [stroke]="chartOptions2.stroke" [tooltip]="chartOptions2.tooltip"
                  [xaxis]="chartOptions2.xaxis" [grid]="chartOptions2.grid">
              </apx-chart>
            </div>
          </div>

        </div>

      </div>
   </div>

   <!--div class="block d-flex m-0 p-0 justify-content-between ">
      <div class="sub-left-part w-48 mt-3">
        <div class="item mt-3">
          <div class="d-flex top justify-content-between ">
            <div class="icon-text d-flex align-items-center">
              <div>
                <i class="bi bi-wallet2" ></i>
              </div>
              <div class="rank">
                <h6 class="h6">Top 10 hosts on the network</h6>
              </div>
            </div>
            <div>
              <span style="cursor: pointer;">View All</span>
            </div>
          </div>

          <div class="trans-item p-2" [routerLink]="['/']">
            <div>
              <h6 style="color: #fff;"></h6>
            </div>
            <div>
              <span>Voting Power :</span>
            </div>
          </div>

        </div>
      </div>

      <div class="sub-right-part w-48 mt-3">
        <div class="item mt-2">
          <div class="d-flex top justify-content-between ">
            <div class="icon-text d-flex align-items-center">
              <div>
                <i class="bi bi-box-fill"></i>
              </div>
              <div class="rank">
                <h6 class="h6">The Latest Transactions</h6>
              </div>
            </div>
            <div>
              <span>24hrs</span>
            </div>
          </div>

          <div class="trans-item p-2" *ngFor="let transaction of transactions.docs" [routerLink]="['/transactions/',transaction.id]">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <h6 class="h6">TX#</h6>
              </div>
              <div>
                <span>{{transaction.id | slice :0:16}}...</span>
              </div>
            </div>

          </div>

        </div>
      </div>

   </div-->

</div>
