*{
    background-color:#404959 ;
}

h2,h3,td{
    color: #fff;
}

.item{
    box-shadow: 1px 2px 3px 3px #5a646e9a;
    border-radius: 15px;
    padding: 30px 20px;
}

i{
    margin-left: 5px;
    cursor: pointer;
}

.tb2 tr{
    text-align: center;
    padding: 15px auto;
    cursor: pointer;
    border-radius: 15px;
}

.tb2 tr:hover{
    background-color: #bfd7ed85;
}

.tb2 thead tr{
    background-color: #bfd7ed;
    color: #404959;
    border-radius: 15px;
}

span{
    color: #bfd7ed;
}

.value{
    font-weight: bold;
}

.mb-4 span{
    color: #bfd7ed;
    cursor: pointer;
}

.mb-4 span:hover{
    color: #3f80f3;
}

.tableau{
    overflow-x: auto;
}

@media (max-width: 768px){

  .tab{
    display: none
  }

}
