<div class="container-fluid p-0 m-0 d-flex main">
    <div class="menu">
        <div class="item-menu">
            <button  class="nav-link d-flex" routerLink="/dashboard" [routerLinkActive]="['active']" title="Dashboard">
                <i class="bi bi-grid-1x2-fill"></i> <span class="link-name">Dashboard</span>
            </button>
        </div>
    
        <div class="item-menu">
             <button class="nav-link d-flex " [routerLinkActive]="['active']" routerLink="/transactions" title="Transactions">
                <i class="bi bi-arrow-down-up"></i> <span class="link-name">Transactions</span>
            </button>
        </div>
    
        <div class="item-menu">
             <button class="nav-link d-flex"  [routerLinkActive]="['active']" routerLink="/blocks" title="Blocks">
                <i class="bi bi-box-fill"></i> <span class="link-name">Blocks</span>
            </button>
        </div>

        <div class="item-menu">
            <button class="nav-link d-flex"  [routerLinkActive]="['active']" routerLink="/hosts" title="Hosts">
               <i class="bi bi-hdd-network"></i> <span class="link-name">Hosts</span>
           </button>
       </div>

    </div>
</div>
