<div class="container-fluid p-0 m-0">

    <div class="mb-4">
        <span (click)="back()"> <i class="bi bi-chevron-double-left"></i> Back </span>
    </div>

    <h2 class="h2">Transaction Details</h2>

    <div class="item mt-3 p-3">

        <table class="table table-borderless">

            <tbody>

                <tr>
                    <td><span>Signature :</span></td>
                    <td><span class="value" style="color: var(--hoverColor);">{{transaction.id | slice :0:16}}...<i
                                class="bi bi-clipboard" (click)="copyText(transaction.id )" title="copy"></i></span></td>
                </tr>

                <tr>
                    <td><span>Block :</span></td>
                    <td><span class="value" style="color: #fff;">{{transaction.height}}</span></td>
                </tr>
              

                <tr>
                    <td><span>Status :</span></td>
                    <td><span class="value" style="color: var(--hoverColor);" *ngIf="code"><i class="bi bi-check-circle"></i>
                      Success 
                    </span>
                    <span class="value text-danger" *ngIf="!code"><i class="bi bi-check-circle"></i>
                      Failed 
                    </span></td>
                </tr>


                <tr>
                    <td><span>Amount :</span></td>
                    <td><span class="value" style="color: #fff;">{{(transaction.minerfees[0]) | number}} hash</span></td>
                </tr> 

                <!-- <tr>
                    <td><span>Timestamp :</span></td>
                    <td><span class="value" style="color: #fff;">{{block.time | date: 'medium'}}</span></td>
                </tr> -->
                
            </tbody>
        </table>
    </div>

    <h2 class="h2" style="margin-top: 50px;">Messages</h2>

    <div class="item mt-3 p-3">

        <table style="width: 100% !important;" class="table table-borderless">
          <tbody>
            <div class="block" style="width: 100% !important;" *ngFor="let msg of transaction.siacoinoutputs ">
              
            </div>

          </tbody>


        </table>
    </div>


</div>
